@import "../global";

.details {
	padding: 5px;
	& > .header-details {
		display: grid;
		grid-template-columns: auto auto;
		justify-content: space-between;
		
		& > *:first-child {
			text-align: left;
		}
	}
	
	.status {
		font-size: 11px;
	}
	
	& > .props-list {
		display: grid;
		grid-template-columns: auto auto;
		align-items: stretch;
		align-content: stretch;
		grid-column-gap: 0px;
		grid-row-gap: 3px;
		
		/*& > *:nth-child(odd) {
		
		}
		& > *:nth-child(even) {
		
		}*/
		
		font-size: 11px;
		
		& > label {
			display: block;
			justify-self: right;
			text-align: right;
			padding-right: 5px;
			color: nth($blueGrey, 6);
		}
		
		& > label ~ *:not(label) {
			justify-self: left;
			text-align: left;
		}
		
		& > *:not(:nth-last-child(1)):not(:nth-last-child(2)) {
			width: 100%;
			border-bottom: 1px solid mix(nth($blueGrey, 2), nth($blueGrey, 3));
		}
	}
}