//source: https://www.materialui.co/colors
$blueGrey: #ECEFF1, #CFD8DC, #B0BEC5, #90A4AE, #78909C, #607D8B, #546E7A, #455A64, #37474F, #263238;

//transitions
$zoomingTrans: 0.4s cubic-bezier(.36,.07,.19,.97);
$hoverIconBtnTrans: opacity 0.15s ease-in-out;
$bubbleTrans: 1s cubic-bezier(.36,.07,.19,.97);
$slidingTransition: 0.4s cubic-bezier(.36,.07,.19,.97);

//sizes
$zoomBtnSize: 20px;
$appearanceOptionsNavSize: 20px;