@import "global";

.gui {
	pointer-events: none;
	width: 100vw;
	height: 100vh;
	
	& > * {
		pointer-events: auto;
		position: absolute;
	}
	
	& > .left-panel {
		left: 0;
		top: 0;
		
		& > * {
			padding: 5px;
			margin: 5px;
			background-color: #fff;
			box-shadow: 0px 1px 3px #0006;
			border-radius: 5px;
			
			transform: translateX( calc(-100% - 20px) );
			@keyframes slide-from-left {
				0%  {transform: translateX(calc(-100% - 20px))}
				100%{transform: translateX(0)}
			}
			animation: slide-from-left 0.5s cubic-bezier(.36,.07,.19,.97) forwards;
			
			$children: 4;
			@for $i from 1 through $children {
				&:nth-child(#{$i}) {
					animation-delay: 0.7s * ($i - 1) / $children;
				}
			}
		}
		
		& > .zoom-buttons {
			height: floor($zoomBtnSize * 2 * 0.618);
			width: $zoomBtnSize * 2;
			display: grid;
			grid-template-columns: $zoomBtnSize $zoomBtnSize;
			align-items: center;
	
			
			& > * {
				width: $zoomBtnSize;
				height: $zoomBtnSize;
				
				background: center no-repeat;
				background-size: contain;
				opacity: 0.66;
				transition: opacity 0.15s ease-in-out;
				
				&:hover {
					opacity: 1;
				}
				
				&.zoom-out {
					background-image: url("../img/icons/minus_dark.svg");
				}
				&.zoom-in {
					background-image: url("../img/icons/plus_dark.svg");
				}
			}
		}
		
		& > .position-info {
		
		}
	}
	
	& > aside {
		right: 0;
		background-color: #2F28;
		height: 100%;
		padding: 20px;
	}
}