@import "global";

.overlays-grid {
	display: block;
	width: 100%;
	height: 100%;
	background-color: #f558;
	
	$keepTransform: 3600s linear;
	
	.marker-holder {//overlay element holder
		pointer-events: auto;
		position: absolute;
		
		//center element
		margin: auto;
		top: 0; bottom: 0;
		left: 0; right: 0;
		width: fit-content;
		height: fit-content;
		
		& > * {//marker
			background-color: #fff;
			box-shadow: 0px 2px 3px #0006;
			padding: 5px;
			
			$popTrans: 0.8s cubic-bezier(.87, -.41, .19, 1.44);
			transition: transform $popTrans;
			transform: scale(1);
			
			animation: pop-in $popTrans;
			@keyframes pop-in {
				0% {
					transform: scale(0);
				}
				100% {
					transform: scale(1);
				}
			}
			
		}
	}
	
	$opacityTrans: 0.4s ease-in-out;
	
	&.fading {
		opacity: 0;
		transition: transform $keepTransform, opacity $opacityTrans;
		
		.marker-holder {
			transition: transform $keepTransform;
			
			& > * {//marker content
				transform: scale(0);
				transition: transform 0.6s cubic-bezier(.36,.07,.19,.97);
			}
		}
	}
	&:not(.fading) {
		opacity: 1;
		transition: opacity $opacityTrans;
	}
}