@import "global";

.overlays-grid {
	//background-color: #f558;
	display: block;
	width: 100%;
	height: 100%;
	
	$keepTransform: 3600s linear;
	
	& > * {//overlay object
		pointer-events: auto;
		position: absolute;
		
		//center element
		margin: auto;
		top: 0; bottom: 0;
		left: 0; right: 0;
		width: fit-content;
		height: fit-content;
		
		background-color: #fff;
		box-shadow: 0px 2px 3px #0006;
		padding: 5px;
	}
	
	&.zooming {
		opacity: 0;
		transition: transform $keepTransform, opacity 0.4s cubic-bezier(.36,.07,.19,.97);
		
		& > * {
			transition: transform $keepTransform;
		}
	}
	&:not(.zooming) {
		opacity: 1;
		transition: opacity 0.6s cubic-bezier(.36,.07,.19,.97);
	}
}