@import "global";

.overlays-grid {
	display: block;
	width: 100%;
	height: 100%;
	//background-color: #F558;
	
	
	& > * { //overlay element holder .marker-holder
		pointer-events: auto;
		position: absolute;
		
		//center element
		margin: auto;
		top: 0; bottom: 0;
		left: 0; right: 0;
		width: fit-content;
		height: fit-content;
		
		
		& > * { //marker
			//background-color: #FFF;
			//box-shadow: 0px 2px 3px #0006;
			//padding: 5px;
			
			$popTrans: 0.8s cubic-bezier(.87, -.41, .19, 1.44);
			
			animation: pop-in $popTrans;
			@keyframes pop-in {
				0% {
					transform: scale(0);
				}
				100% {
					transform: scale(1);
				}
			}
		}
		
	}
	
	&.zooming {
		& > * {
			transition: transform $zoomingTrans;
		}
	}
}