@import "../global";

.gui {
	pointer-events: none;
	width: 100vw;
	height: 100vh;
	
	& > * {
		pointer-events: auto;
		position: absolute;
	}
	
	& > .left-panel {
		left: 0;
		top: 0;
		text-align: left;
		
		& > * {
			padding: 5px;
			margin: 5px;
			background-color: #fff;
			box-shadow: 0px 1px 3px #0006;
			border-radius: 5px;
			
			transform: translateX( calc(-100% - 20px) );
			@keyframes slide-from-left {
				0%  {transform: translateX(calc(-100% - 20px))}
				100%{transform: translateX(0)}
			}
			animation: slide-from-left 0.5s cubic-bezier(.36,.07,.19,.97) forwards;
			
			$children: 4;
			@for $i from 1 through $children {
				&:nth-child(#{$i}) {
					animation-delay: 0.7s * ($i - 1) / $children;
				}
			}
		}
		
		& > .zoom-buttons {
			height: floor($zoomBtnSize * 2 * 0.618);
			width: $zoomBtnSize * 2;
			display: grid;
			grid-template-columns: $zoomBtnSize $zoomBtnSize;
			align-items: center;
			
			& > * {
				width: $zoomBtnSize;
				height: $zoomBtnSize;
				
				background: center no-repeat;
				background-size: contain;
				
				&.zoom-out {
					background-image: url("../../img/icons/minus_dark.svg");
				}
				&.zoom-in {
					background-image: url("../../img/icons/plus_dark.svg");
				}
			}
		}
		
		& > .position-info {
			display: table;
			white-space: pre-wrap;
			width: min-content;
			text-align: left;
		}
		
		& > .appearance-opener {
			cursor: pointer;
			display: inline-grid;
		    grid-template-columns: auto fit-content(100%);
		    align-items: center;
			padding-left: 15px;
			position: relative;
			
			& > img {//arrow icon
				opacity: 0.66;
				transition: $hoverIconBtnTrans;
				margin-left: 5px;
			}
			&:hover > img {
				opacity: 1;
			}
		}
	}
	
	& > .appearance-container {
		position: fixed;
		left: 0;
		top: 0;
		//width: 256px;
		height: 100%;
		//background-color: #0004;
		box-shadow: 0px 0px 4px #0008;
		
		overflow: hidden;
		
		transition: transform 0s, box-shadow 1s ease-in-out;
		transform: translateX(0%);
		
		&:not(.open) {
			pointer-events: none;
			
			transition: transform $slidingTransition, box-shadow 1s ease-in-out;
			box-shadow: 0px 0px 4px #0000;
			transform: translateX(-100%);
		}
		
		& > .bubble {
			position: absolute;
			width: 100vw;
			height: 100vw;
			border-radius: 100vw;
			left: 0px;
			top: 0px;
			background-color: #fff;
			z-index: -1;
			
			transform: translate(-50vw, -50vw) scale(0);
		}
		
		.content {
			z-index: 1;
			opacity: 0;
			transition: opacity 1s 0.4s ease-in-out;
			background-color: #fff;
			
			nav {
				padding: 0px;
				display: grid;
				align-items: center;
				justify-content: end;
				height: $appearanceOptionsNavSize;
				line-height: $appearanceOptionsNavSize;
				background-color: nth($blueGrey, 8);
				.closer {
					width: $appearanceOptionsNavSize * 0.8;
					height: $appearanceOptionsNavSize * 0.8;
					margin: auto $appearanceOptionsNavSize * 0.2 auto auto;
					background: url("../../img/icons/close.svg") center no-repeat;
					background-size: contain;
				}
			}
		}
		
		&.open {
			& > .content {
				opacity: 1;
			}
			& > .bubble {
				animation: bubble $bubbleTrans forwards;
			
				@keyframes bubble {
					0% {
						transform: translate(-50vw, -50vw) scale(0);
					}
					100% {
						transform: translate(-50vw, -50vw) scale(1);
					}
				}
			}
		}
		&:not(.open) {
			& > .content {
				transition: opacity 0s 0.4s ease-in-out;
			}
		}
	}
	
	& > aside {
		right: 0;
		background-color: #2F28;
		height: 100%;
		padding: 20px;
	}
}